.vl {
    border-left: 3px solid rgb(203, 213, 225);
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    transform: translateY(-90px);
}

.box{
    background-color: #1c46a1;
    width: 220px;
    height: 200px;
    border-radius: 10px;
}