body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #214cbd;
  color: white;
}

body, html #root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}